@import './variables';

@mixin mq($mq-breakpoint) {
  @media (min-width: #{map-get($breakpoints, $mq-breakpoint)}) {
    @content;
  }
}

@mixin circle($bg-color, $color, $border-color) {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: $bg-color;
  width: 80px;
  height: 80px;
  border: 1px solid $border-color;
  
  svg {
    fill: $color;
  }
}