@import 'mixins';

@font-face {
  font-family: 'notosans';
  src: url('/assets/fonts/notosans-bold-webfont.woff2') format('woff2'),
    url('/assets/fonts/notosans-bold-webfont.woff') format('woff');
  font-weight: $font-weight-bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'notosans';
  src: url('/assets/fonts/notosans-regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/notosans-regular-webfont.woff') format('woff');
  font-weight: $font-weight-normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'notosans';
  src: url('/assets/fonts/notosans-light-webfont.woff2') format('woff2'),
    url('/assets/fonts/notosans-light-webfont.woff') format('woff');
  font-weight: $font-weight-light;
  font-style: normal;
  font-display: swap;
}

%heading {
  margin-top: 0;
  margin-bottom: $headings-margin-bottom;
  font-weight: $font-weight-light;
  line-height: $line-height-base;
  color: $headings-color;
}

h1 {
  font-size: 2.5em;

  @extend %heading;

  @include mq('xl') {
    font-size: 3.2em;
  }
}

h2 {
  font-size: 1.8em;

  @extend %heading;

  @include mq('xl') {
    font-size: 2.2em;
  }
}

h3 {
  @extend %heading;
  font-size: 1.125em;
}

h4 {
  @extend %heading;
  font-size: 1em;
}

p {
  margin-top: 0;
  margin-bottom: $paragraph-margin-bottom;
}

a {
  color: $color-blue;
  text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}