$font-family-base: 'notosans', 'Helvetica Neue', Helvetica, sans-serif;
$font-size-base: 1em;
$font-size-small: 0.75em;
$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-bold: 600;

$color-blue: #1473e6;
$color-grey: rgb(116, 116, 116);

$body-bg: rgb(255, 255, 255);
$headings-margin-bottom: 1em;
$line-height-base: 1.5;
$headings-color: rgb(44, 44, 44);
$body-text-color: rgb(44, 44, 44);
$form-text-color: $color-grey;
$paragraph-margin-bottom: 1.5em;
$subtitle-text-color: $color-blue;

$breakpoints: (
  'sm': 510px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
);
