$font-family-base: 'notosans';
$font-size-base: 1em;
$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-bold: 600;
$body-bg: rgb(255, 255, 255);
$headings-margin-bottom: 1.5em;
$line-height-base: 1.5;
$headings-color: rgb(44, 44, 44);
$body-text-color: rgb(44, 44, 44);
$paragraph-margin-bottom: 1.5em;

