@import "variables";
@import "normalize";
@import "typography";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $body-text-color;
  font-weight: normal;
  line-height: $line-height-base;
  background-color: $body-bg;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  > li {
    margin-bottom: $paragraph-margin-bottom;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
