@import '../../../styles/mixins';

.rooms-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include mq('xl') {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    max-width: 30vw;
  }

  &__wrapper {
    @include mq('xl') {
      margin-top: 5.7em;
      max-height: 70vh;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }

  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 80px;

    @include mq('xl') {
      max-width: none;
    }
  }

  figcaption {
    margin-top: 0.5em;
  }
}