@import '../../../styles/mixins';

.lights-list {
  text-align: left;
  
  @include mq('xl') {
    margin-top: 6em;
  }

  &__item {
    display: flex;
    border-bottom: 1px solid $color-grey;
    padding: 1em 0;
    margin-bottom: 0;
  }

  &__title {
    flex-basis: 70%;
  }

  &__title {
    margin-bottom: 0;
  }

  &__btn-group {
    flex-basis: 30%;
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 1em;
    }
  }
}